* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
  background-color: #f7f7f7;
}

:root {
    --grid-color: #142F32;
    --box-color: #E3FFCC;
    --footer-color: #282930;
    --ashlike-color: #777C90;
    --header-color1: #fafafa;
    --header-color2: #F0EAD6;
}

.header-container {
  display: flex;
  flex-direction: row;
  background-color: var(--header-color1);
  justify-content: space-between;
  align-items: center;
  height: 5em;
  margin-bottom: 4em;
}

nav {
  flex-grow: 0.2;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

li a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(51, 49, 49);

}

li a:hover {
  opacity: 0.8;
}

.sign-up-btn {
  margin-right: 4em;
  background-color: #1f484d;
  color: white;
  padding: 1.1em 1.9em 1.1em 1.9em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.sign-up-btn:hover {
  opacity: 0.8;
}

.header-logo {
  margin-left: 4em;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.the-future-h1 {
  font-size: 3.9rem;
  color: #2d3131;
  margin-left: 3.5em;
  width: 60%;
}

.latest-technology {
  color: #1f484d;
}

.expert-tech {
  font-size: 500;
  font-weight: 450;
  margin-top: -3.5em;
  margin-left: 31.5em;
}

.hero-section {
  position: relative;
  width: 100%;
}

.get-try-btn-container {
  margin-left: 42.5em;
  margin-top: 2em;
}

.get-started-btn {
  background-color: #1f484d;
  color: white;
  padding: 0.9em 1.5em 0.9em 1.5em;
  border: none;
  border-radius: 2em;
  margin-right: 0.5em;
  font-weight: bold;
}

.try-dem-btn {
  background-color: white;
  color: black;
  padding: 0.9em 1.8em 0.9em 1.8em;
  border: solid 0.1px rgba(236, 231, 231, 0.822);
  border-radius: 2em;
  font-weight: bold;
}

.arrow-img {
  height: 20px;
  margin-top: 3px;
}

.file-img {
  height: 22px;
}

.sparkling-img {
  margin-top: 1.5px;
}


.sparkling-star-btn {
  position: absolute;
  background-color: #1f484d;
  border: none;
  padding: 0.4em 0.6em 0.4em 0.6em;
  border-radius: 2.5em;
  z-index: 10;
  margin-top: -7em;
  margin-right: 2em;
  margin-left: 13em;
}

.arrow-btn {
  position: absolute;
  background-color: transparent;
  padding: 0.7em 0.95em 0.7em 0.95em;
  border: solid 2.2px #1f484d;
  border-radius: 2em;
  margin-left: 8em; 
  margin-top: -3.3em;
  
}

.file-btn {
  position: absolute;
  background-color: #dbf8c3;
  border: none;
  padding: 0.5em 0.7em 0.5em 0.7em;
  border-radius: 2em;
  margin-left: 13em;
}

.water-btn {
  position: absolute;
  margin-left: 98em;
  margin-top: -2em;
  background-color: transparent;
  border: solid 2.2px #1f484d;
  padding: 0.7em 0.95em 0.7em 0.95em;
  border-radius: 2.2em;

}

.water-img {
  height: 20px;
  margin-top: 2.7px;
}

.chart-btn {
  position: absolute;
  margin-left: 103.5em;
  margin-top: -4.8em;
  background-color: #dbf8c3;
  border: none;
  padding: 0.5em 0.7em 0.5em 0.7em;
  border-radius: 2em;
}

.chart-img {
  height: 20px;
  margin-top: 2px;
}

.from-eigty-plus {
  margin-left: 0.5em;
}

.from-eigty-span {
  color: grey;
}

.five-point-o {
  margin-left: 8em;
  margin-top: -1.5em;
  font-weight: bold;
  font-size: 15px;
  color: rgb(43, 41, 41);
}

.star {
  height: 20px;
}

.rating-container {
  margin-top: 2.2em;
  margin-bottom: 2em;
  margin-left: 45em;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-image-div {
  height: 320px;
  width: 240px;
  overflow: hidden;
  background-color: greenyellow;
  border-radius: 20px;
  margin-top: -2.1em;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hundred-plus-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #1f484d;
  color: white;
  height: 250px;
  width: 170px;
  margin-top: 2.7em;
  justify-content: center;
  border-radius: 20px;
}

.hundred-plus-div p {
  font-weight: 200;
}

.hundred-plus-txt {
  font-size: xx-large;
  font-weight: 700;
}

.total-projects-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 210px;
  width: 270px;
  border-radius: 20px;
  margin-top: 5.8em;
  align-items: center;
  justify-content: center;
}

.total-projects-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-projects-arrow-img {
  background-color: #1f484d;
  height: 13px;
  border-radius: 7px;
  margin-top: 1em;
}

.eight-percent-span {
  font-size: smaller;
  color: #1f484d;
}

.nineteen-txt {
  font-size: xx-large;
  font-weight: 800;
  color: rgb(26, 25, 25);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.grid-image-container {
  background-color: var(--box-color);
  height: 38px;
  width: 38px;
  margin-right: 7.5em;
  border-radius: 7px;
  margin-top: 0.6em;
}

.grid-image {
  height: 20px;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.ellipsis-btn {
  background-color: transparent;
  border: none;
}

.ellipsis-image {
  height: 16px;
}

.total-projects-txt-container {
  margin-left: -2em;
}

.increase-txt {
  font-size: 14px;
  color: rgb(155, 155, 155);
}

.six-plus-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--box-color);
  height: 252px;
  width: 170px;
  margin-top: 3.8em;
  border-radius: 20px;
  color: rgb(49, 47, 47);
}

.six-plus-div h2 {
  font-size: xx-large;
  font-weight: 750;
  margin-left: 0.5em;
}

.achieve-div {
  background-color: var(--grid-color);
  height: 320px;
  width: 240px;
  overflow: hidden;
  border-radius: 20px;
  margin-top: -0.4em;
  color: white;
}

.achieve-txt-container {
  margin-top: 1.4em;
  font-size: larger;
  font-weight: 300;
  margin-left: 1.5em;
}

.speedometer-img {
  height: 28px;
  margin-top: 9.2em;
  margin-left: 1.5em ;
}