* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
  background-color: #f7f7f7;
}

:root {
    --grid-color: #142F32;
    --box-color: #E3FFCC;
    --footer-color: #282930;
    --ashlike-color: #777C90;
    --header-color1: #fafafa;
    --header-color2: #F0EAD6;
}

.header-container {
  display: flex;
  flex-direction: row;
  background-color: var(--header-color1);
  justify-content: space-between;
  align-items: center;
  height: 5em;
  margin-bottom: 4em;
}

nav {
  flex-grow: 0.2;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

li a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(51, 49, 49);

}

li a:hover {
  opacity: 0.8;
}

.sign-up-btn {
  margin-right: 4em;
  background-color: #1f484d;
  color: white;
  padding: 1.1em 1.9em 1.1em 1.9em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.sign-up-btn:hover {
  opacity: 0.8;
}

.header-logo {
  margin-left: 4em;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.the-future-h1 {
  font-size: 3.9rem;
  color: #2d3131;
  margin-left: 3.5em;
  width: 60%;
}

.latest-technology {
  color: #1f484d;
}

.expert-tech {
  font-size: 500;
  font-weight: 450;
  margin-top: -3.5em;
  margin-left: 31.5em;
}

.hero-section {
  position: relative;
  width: 100%;
}

.get-try-btn-container {
  margin-left: 42em;
  margin-top: 3em;
}

.get-started-btn {
  background-color: #1f484d;
  color: white;
  padding: 1.2em 2.2em 1.2em 2.2em;
  border: none;
  border-radius: 3em;
  margin-right: 0.5em;
  font-weight: bold;
}

.try-dem-btn {
  background-color: white;
  color: black;
  padding: 1.2em 2.4em 1.2em 2.4em;
  border: solid 0.1px rgba(236, 231, 231, 0.822);
  border-radius: 2em;
  font-weight: bold;
}

.arrow-img {
  height: 20px;
  margin-top: 3px;
}

.file-img {
  height: 22px;
}

.sparkling-img {
  margin-top: 1.5px;
}


.sparkling-star-btn {
  position: absolute;
  background-color: #1f484d;
  border: none;
  padding: 0.4em 0.6em 0.4em 0.6em;
  border-radius: 2.5em;
  z-index: 10;
  margin-top: -7em;
  margin-right: 2em;
  margin-left: 13em;
}

.arrow-btn {
  position: absolute;
  background-color: transparent;
  padding: 0.7em 0.95em 0.7em 0.95em;
  border: solid 2.2px #1f484d;
  border-radius: 2em;
  margin-left: 8em; 
  margin-top: -3.3em;
  
}

.file-btn {
  position: absolute;
  background-color: #dbf8c3;
  border: none;
  padding: 0.5em 0.7em 0.5em 0.7em;
  border-radius: 2em;
  margin-left: 13em;
}

.water-btn {
  position: absolute;
  margin-left: 97em;
  margin-top: -1.6em;
  background-color: transparent;
  border: solid 2.2px #1f484d;
  padding: 0.7em 0.95em 0.7em 0.95em;
  border-radius: 2.2em;

}

.water-img {
  height: 20px;
  margin-top: 2.7px;
}

.chart-btn {
  position: absolute;
  margin-left: 103.5em;
  margin-top: -4.8em;
  background-color: #dbf8c3;
  border: none;
  padding: 0.5em 0.7em 0.5em 0.7em;
  border-radius: 2em;
}

.chart-img {
  height: 20px;
  margin-top: 2px;
}

.from-eigty-plus {
  margin-left: 0.5em;
}

.from-eigty-span {
  color: grey;
}

.five-point-o {
  margin-left: 8em;
  margin-top: -1.5em;
  font-weight: bold;
  font-size: 15px;
  color: rgb(43, 41, 41);
}

.star {
  height: 20px;
}

.rating-container {
  margin-top: 2.3em;
  margin-bottom: 2em;
  margin-left: 45.6em;
}

.cards-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 6em;
}

.card-image-div {
  height: 320px;
  width: 240px;
  overflow: hidden;
  background-color: greenyellow;
  border-radius: 20px;
  margin-top: -2.1em;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hundred-plus-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #1f484d;
  color: white;
  height: 250px;
  width: 170px;
  margin-top: 2.3em;
  justify-content: center;
  border-radius: 20px;
}

.hundred-plus-div p {
  font-weight: 200;
}

.hundred-plus-txt {
  font-size: xx-large;
  font-weight: 700;
}

.total-projects-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 210px;
  width: 270px;
  border-radius: 20px;
  margin-top: 4.8em;
  align-items: center;
  justify-content: center;
}

.total-projects-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-projects-arrow-img {
  background-color: #1f484d;
  height: 13px;
  border-radius: 7px;
  margin-top: 1em;
}

.eight-percent-span {
  font-size: smaller;
  color: #1f484d;
}

.nineteen-txt {
  font-size: xx-large;
  font-weight: 800;
  color: rgb(26, 25, 25);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.grid-image-container {
  background-color: var(--box-color);
  height: 38px;
  width: 38px;
  margin-right: 7.5em;
  border-radius: 7px;
  margin-top: 0.6em;
}

.grid-image {
  height: 20px;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.ellipsis-btn {
  background-color: transparent;
  border: none;
}

.ellipsis-image {
  height: 16px;
}

.total-projects-txt-container {
  margin-left: -2em;
}

.increase-txt {
  font-size: 14px;
  color: rgb(155, 155, 155);
}

.six-plus-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--box-color);
  height: 252px;
  width: 170px;
  margin-top: 2.2em;
  border-radius: 20px;
  color: rgb(49, 47, 47);
}

.six-plus-div h2 {
  font-size: xx-large;
  font-weight: 750;
  margin-left: 0.5em;
}

.achieve-div {
  background-color: var(--grid-color);
  height: 330px;
  width: 240px;
  overflow: hidden;
  border-radius: 20px;
  margin-top: -2.7em;
  color: white;
}

.achieve-txt-container {
  margin-top: 1.2em;
  font-size: larger;
  font-weight: 300;
  margin-left: 1.5em;
}

.speedometer-img {
  height: 28px;
  margin-top: 9.2em;
  margin-left: 1.5em ;
}

.efficient-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grid-color);
  width: 100%;
  margin-top: 5em;
  color: white;
}

.efficient-section-grid-div {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 88%;
  padding-bottom: 7em;
  margin-top: 2em;
  padding-top: 2.2em;
}

.efficient-section-grid-div div {
  background-color:#33595e18;
  border-radius: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 480px;
  padding-bottom: 0.5em;

}

.left-grid-icon {
  height: 50px;
  width: 55px;
  margin-left: 1.7em;
  margin-top: -3em;
}
.efficient-section-arrow {
  height: 25px;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}

.efficiency-arrow-btn {
  background-color: transparent;
  border: none;
  margin-left: 27em;
  margin-top: -4em;
}

.prodution-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all-grid-txt-container h3 {
  margin-left: 2.5em;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.all-grid-txt-container p {
  margin-left: 3.7em;
  margin-top: 0.4em;
}

.efficient-section-txt {
  text-align: center;
  margin-top: 6em;
}

.efficient-section-txt h2 {
  font-size: 2.5em;
  margin-bottom: 0.3;
}

.efficient-section-txt p {
  font-size: 1.05em;
  font-weight: 250;
  margin-top: 1.5em;
}

.key-benefits-section {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  width: 80%;
  margin-top: 6em;
}

.total-projects-flex-container {
  background-color: rgb(243, 238, 238);
  height: 580px;
  width: 560px;
  border-radius: 20px;
}

.total-projects-graph-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 390px;
  height: 450px;
  border-radius: 10px;
  margin-left: 5.2em;
  margin-top: 3.7em;
}

.total-projects-graph-card-txt h3 {
  color: #777C90;
  font-weight: 500;
  font-size: 1.05em;
}

.total-projects-graph-card-txt p {
  font-weight: 700;
  font-size: larger;
}

.total-projects-graph-card-txt span {
  font-size: medium;
  font-weight: 500;
}

.total-projects-graph-card-graphtxt {
  margin-left: 2em;
  margin-top: 2em;
}

.total-projects-bottom-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  height: 210px;
  width: 270px;
  border-radius: 20px;
  margin-top: -12.2em;
  margin-left: 15em;
  align-items: center;
  justify-content: center;
  z-index: 20;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.green-arrow {
  height: 13px;
  background-color: rgb(230, 248, 242);
  border-radius: 7px;
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.4em;
}

.progress-bar-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-right: 2em;
}

#in-progress-bar{
  margin-left: -1.2em;
}

#rejected-progress-bar{
  margin-left: -0.5em;
}

progress {
  height: 20px;
  -webkit-appearance: none;
  appearance: none;

}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  border-radius: 3px;
  background-color: #e9ecf3;
}

.progress-bar-container label {
  font-size: small;
  font-weight: 500;
  color: #7d808a;
}

.progress-bar-container span {
  font-size: small;
  font-weight: 500;
}

.total-projects-graph-card-graphtxt hr {
  opacity: 0.1;
  margin-left: -5px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 94%;
}

.vertical-graph-bars-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  align-items: baseline;
}

.bar1, .bar2, .bar3, .bar4 {
  width: 18%;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(8, 155, 118);
}

.bar1 {
  height: 100px;
  background-color: #1f484d;
}

.bar2 {
  height: 85px;
}

.bar3 {
  height: 70px;
  background-color: #1f484d;
}

.bar4 {
  height: 95px;
}

.all-key-benefits-txt h1 {
  font-size: 2.7em;
  color: #121313;
}

.all-key-benefits-txt p {
  font-size: 1.09em;
  color: #555959;
  margin-top: 1em;
}

.our-systems-p {
  margin-bottom: 2.5em;
}

.checks-icon, .check-icon{
  height: 20px;
  margin-right: 0.6em;
}

.bullet-txt-container h3 {
  font-size: 1.3em;
  margin-top: 1em;
}

.bullet-txt-container p {
  margin-top: 0.5em;
  margin-left: 2em;
}

.tailored-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 6em;
}

.tailored-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}

.tailored-txt-container h1 {
  font-size: 2.5em;
}

.tailored-txt-container p {
  font-weight: 200;
  margin-top: 2em; 
  margin-bottom: 5em; 
}

.tailored-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 65%;

}

.enterprise-div, .started-div {
  background-color: rgba(128, 128, 128, 0.233);
  height: 550px;
  border-radius: 25px;
}

.started-top-txt-container {
  margin-left: 2em;
  margin-top: 2em;
}

.started-top-txt-container h3 {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 1em;
}

.started-top-txt-container p {
  font-weight: 200; 
}

.price-p {
  margin-top: 2em;
}

.dollar-span {
  font-size: 2em;
  font-weight: 500;
}

.started-top-txt-container button {
  background-color: transparent;
  color: white;
  border: solid 2px white;
  padding: 1em 15em 1em 15em;
  border-radius: 2em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.started-down-txt-container {
  margin-left: 2em;
}

.started-down-txt-container p {
  margin-top: 1em;
  font-weight: 200;
}

.features-divider-div {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 200;
}

.features-divider-div::before {
  content: "";
  height: 1px;
  background-color: rgba(128, 128, 128, 0.534);
  width: 60%;
  margin-left: 4.2em;
}

.features-divider-div::after {
  content: "";
  height: 1px;
  background-color: grey;
  width: 60%;
  margin-left: 1em;
}

.tailored-professional-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  background-color: var(--grid-color);
  margin-bottom: 6em;
  height: 280px;
  border-radius: 25px;
}

.tailored-professional-container h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.8em;
}

.tailored-professional-container p {
  margin-top: 0.3em;
  font-weight: 200;
  font-size: 1em;
}

.tailored-professional-container button {
  background-color: var(--box-color);
  border: none;
  color: black;
  padding: 0.8em 2.5em 0.8em 2.5em;
  border-radius: 2em;
  margin-top: 1.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin-top: 2em;
}

.empowering-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: white;
}

.empowering-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -4em;
}

.empowering-txt-container h1 {
  font-size: 2.7em;
  
}

.empowering-txt-container p {
  font-size: 1.13em;
}

.circle-apps {
  margin-right: -4em;
  margin-top: 6em;
  margin-bottom: 6em;
}

.circle-apps img {
  height: 470px;
  width: 600px;
}

.one-two-six, .three-four{
  color: aquamarine;
}